<h2>Text File Uploads with Multer</h2>

    <form  enctype="multipart/form-data" method="POST">
      
      <input type="file" name="myFile" accept=".txt"/> 
      <button type="submit">Enviar</button>
    </form>